@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-calendar/dist/Calendar.css';

/* ============================================
  기본 레이아웃 스타일
============================================ */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* ============================================
  Select Style
============================================ */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f9fd;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 0.875rem;
  text-align: center;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  color: #333;
}
select:focus {
  outline: none;
  border-color: #6845f5;
  box-shadow: 0 0 0 2px rgba(104, 69, 245, 0.4) !important;
  --tw-ring-shadow: none;
}
/* ============================================
  Calendar Style
============================================ */
.react-calendar {
  border: none;
}

.react-calendar__navigation {
  margin: 0;
}

.react-calendar__tile {
  padding: 0;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--now {
  background-color: #fff;
}

.react-calendar__tile--now .color-round {
  background-color: #ffffa9;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus.animate-slideUp,
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #fff;
}

.react-calendar__tile:enabled:hover .color-round {
  background-color: #e6e6e6;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__month-view__days__day--weekend.weekday-saturday {
  color: #2364dd !important;
}

.react-calendar__tile--active .color-round {
  background-color: #baa8ff;
}
/* ============================================
  Scroll Style
============================================ */
/* scroll-overlay 클래스용 스크롤바 커스텀 */
.scroll-overlay::-webkit-scrollbar {
  width: 8px;
}

.scroll-overlay::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.scroll-overlay {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* ============================================
  Common Style
============================================ */
.cont-alert {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 600;
  white-space: nowrap;
  padding: 24px 40px;
  border-radius: 16px;
  background: #6845f5;
  border: 1px solid rgb(255 255 255 / 50%);
  box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.cont-alert.hide {
  opacity: 0;
}

input[type='checkbox'] {
  appearance: none; /* 브라우저 기본 체크박스 제거 */
  width: 16px;
  height: 16px;
  border: 1px solid #bba8ff;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: #6845f5;
  border-color: #6845f5;
}

input[type='checkbox']:checked::after {
  content: '✔';
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 3px;
}

button.small-ver,
a.small-ver {
  padding: 0.25rem 0.75rem;
}

/* ============================================
  Animation
============================================ */
@layer utilities {
  /* slideUp 애니메이션 */
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0 !important;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* 애니메이션 클래스 추가 */
  .animate-slideUp {
    animation: slideUp 0.8s ease-out forwards;
  }

  /* 애니메이션 딜레이 클래스 추가 */
  .delay-200 {
    animation-delay: 0.2s;
  }
  .delay-400 {
    animation-delay: 0.4s;
  }
  .delay-600 {
    animation-delay: 0.6s;
  }
  .delay-800 {
    animation-delay: 0.8s;
  }
  .delay-1200 {
    animation-delay: 1.2s;
  }
  .delay-1400 {
    animation-delay: 1.4s;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }
  .delay-900 {
    animation-delay: 0.9s;
  }
  .delay-1000 {
    animation-delay: 1s;
  }
  .delay-1500 {
    animation-delay: 1.5s;
  }
}

/* ============================================
  Point Colors
============================================ */
.main-color {
  color: #6845f5;
}
.bg-main-color {
  background-color: #6845f5;
}
.sub-color {
  color: #aa96fc;
}
.bg-sub-color {
  background-color: #aa96fc;
}
.point1-color {
  color: #f6d094;
}
.bg-point1-color {
  background-color: #f6d094;
}
.point2-color {
  color: #f5b2b2;
}
.bg-point2-color {
  background-color: #f5b2b2;
}

/* ============================================
  Style Reset
============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: 100vh;
  font-size: 14px;
  font-family: 'Roboto', sans-serif, 'Hakgyo-Black', 'Hakgyo-Outline';
  background-color: #eee;
  color: #161616;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  html {
    /* display: inline-block; */
    align-items: initial;
  }
}
body {
  position: relative;
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  /* max-height: 760px; */
  border-radius: 20px;
  box-shadow: 3px 3px 15px #00000026;
}
body > div {
  height: 100%;
}
main:has(.my-home-page) {
  padding-top: 54px;
  padding-bottom: 70px;
}
main:has(.admin-page) {
  padding-top: 54px;
  padding-bottom: 70px;
}
main,
main > div {
  height: inherit;
  overflow: hidden;
  border-radius: 20px;
  /* max-height: 760px; */
}
a {
  text-decoration: none;
  color: inherit;
}

/* ============================================
  Point Fonts
============================================ */
.hakgyo-black {
  font-family: 'Hakgyo-Black', sans-serif;
}
.hakgyo-outline {
  font-family: 'Hakgyo-Outline', sans-serif;
}

/* ============================================
Custom Fonts
============================================ */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* 학교 안심폰트 */
@font-face {
  font-family: 'Hakgyo-Black';
  src: url('/fonts/Hakgyoansim-Puzzle-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hakgyo-Outline';
  src: url('/fonts/Hakgyoansim-Puzzle-Outline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
